# Virtual environment folder
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# VS Code settings (se usi VSCode)
.vscode/
